*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}


a{
    text-decoration: none;
    color: black;
}
/* Edicion del nav de index*/
section .principio {
    width: 500px;
    height: 400px;
    display: flex;
}



body {
    background-color: #101113;
}


/* Css de la pag estilos */

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    width: 100%;
    padding: 20px;
}
 /* edicion por caja para responsive */
.caja1, .caja2, .caja3{
    width: 150px;
    height: 150px;
    margin: 10vh;
    color: white;
    text-align: center;
    
}

section .estilos{
    width: 300px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    color: whitesmoke;
    
}
/* titulo */
section .titulo{
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center
}



/* css de turnos */
.turnos div{ 
    width: 500px;
    height: 300px;
    border: 2px solid;
    border-color: black;
    position: relative;
    margin: 0 auto;
    padding: 100px;
    color: whitesmoke;
}

/* edicion de precios */
.fotoprecios {
    height: auto;
    width: 58vh;
    display: inline-flex;
}


/* mapa */

.mapa { 
    width: 800px;
    height: 700px;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    display: f;
}
.titulosucursales { 
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 0 auto;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center
}


/* media query de la pagina estilos */
@media screen and (max-width: 1225px){
    .caja3{
        grid-column: 1/ span 3 ;
        justify-content: left;
    }
    
 @media screen and (max-width: 820px){
    .caja2{
        grid-column: 1/ span 3 ;
        justify-content: left;
    }
    .grid-layout {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat (3, 400px);
    gap: 100px;
}}}


@media  screen and (max-width: 700px) {
    .mapa{
        margin-left: 0 auto;
        height: auto;
        width: auto;
    }
    
}