/* Css de la pag estilos */

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    width: 100%;
    padding: 20px;
}
 /* edicion por caja para responsive */
.caja1, .caja2, .caja3{
    width: 150px;
    height: 150px;
    margin: 10vh;
    color: white;
    text-align: center;
    transform: rotate(360deg);
    
}

section .estilos{
    width: 300px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    color: whitesmoke;
    
}

/* titulo */
section .titulo{
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center
}
