/* css de turnos */
.turnos .card1{
    width: 500px;
    height: 300px;
    border: 2px solid;
    border-color:whitesmoke;
    position: relative;
    margin: 0 auto;
    padding: 100px;
    color: whitesmoke;
}